.App {
  text-align: center;
  display: flex;
  font-weight: bolder;
  color: #3F3F3F;
  background-color: lightsteelblue;
}

.Controls {
  margin: 5em 1em;
}

.Instructions {
  text-align: justify;
  margin-top: 5em;
}

.button {
  background-color: #3F3F3F;
  border: none;
  color: white;
  padding: 0.5em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

input {
  margin: 1em 0.5em;
}

.Input {
  margin-top: 3em;
}