.Chart {
  width: 70%;
}

.Chart .Goal, .Chart .Total {
  margin: 1em;
}

.Background {
  height: 80vh;
  background-image: linear-gradient(to bottom, red,orange,yellow,green,blue,indigo,violet);
}

.Progress {
  background-color: lightslategrey;
}

.Stencil {
    height: 80vh;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('mickey.png');
}